[submodule "/Users/matt/.vim/bundle/lightline"]
	path = /Users/matt/.vim/bundle/lightline
	url = git://github.com/itchyny/lightline.vim
[submodule "/Users/matt/.vim/bundle/command-t"]
	path = /Users/matt/.vim/bundle/command-t
	url = git://github.com/wincent/command-t.git
[submodule "/Users/matt/.vim/bundle/nerdtree"]
	path = /Users/matt/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "/Users/matt/.vim/bundle/vim-go"]
	path = /Users/matt/.vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/lightline-bufferline"]
	path = bundle/lightline-bufferline
	url = git@github.com:mgee/lightline-bufferline.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/gocode"]
	path = bundle/gocode
	url = git://github.com/nsf/gocode
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
